[tool.ruff]
line-length = 88
target-version = "py313"

[tool.ruff.lint]
select = [
    "D",   # pydocstyle
    "E",   # pycodestyle error
    "F",   # pyflakes
    "I",   # isort
    "W",   # pycodestyle warning
    "N",   # pep8-naming
    "UP",  # pyupgrade
    "B",   # flake8-bugbear
    "C4",  # flake8-comprehensions
    "T20", # flake8-print
    "SIM", # flake8-simplify
    "RUF", # Ruff-specific rules
]
ignore = [
    "D202", # No blank lines allowed after function docstring
    "D203", # 1 blank line required before class docstring
    "D212", # Multi-line docstring summary should start at the first line
    "D400", # First line should end with a period
    "D406", # Section name should end with a newline
    "D407", # Section name underlining
    "D415", # First line should end with a period, question mark, or exclamation point
]

[tool.ruff.lint.pydocstyle]
convention = "pep257"

[tool.ruff.lint.per-file-ignores]
"tests/**/*" = ["D", "T201"]
"custom_components/openevse/config_flow.py" = ["D"]
"custom_components/openevse/const.py" = ["D"]
