-r requirements.txt
pytest-homeassistant-custom-component
mypy==1.19.1
ruff==0.15.4
tox==4.47.0
aioresponses
pytest<10
aiohttp_cors
zeroconf
pre-commit==4.5.1
pycares>=4.11.0,<5.0.0  # Pin <5.0.0 for aiodns compatibility, >=4.11.0 for py3.13
